body {
  background: linear-gradient(135deg, #101010, #981515); 
  color: #ffffff;
  font-family: 'Fredoka One', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 40px 0;
  font-size: 2.8rem;
  color: #f6f3f3; /* amarillo Monopoly #f6f930*/
  text-shadow: 2px 2px 6px rgba(46, 57, 118, 0.6);
}

.container {
  margin-top: 30px;
  padding: 20px;
  background: linear-gradient(135deg, #1f1f1f, #70110f);
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}

.table {
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 0;
}

.table thead {
  background: linear-gradient(90deg, #ff6b6b, #f6f930); /* rojo → amarillo */
  color: #222;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.table thead th {
  border: none;
  padding: 14px;
}

.table tbody tr {
  background: rgba(255, 255, 255, 0.05);
  transition: all 0.3s ease-in-out;
}

.table tbody tr:hover {
  background: linear-gradient(90deg, #3a0ca3, #4361ee); /* morado → azul */
  transform: scale(1.01);
}

.table tbody td {
  vertical-align: middle;
  padding: 12px;
}

.table tbody td img {
  border-radius: 6px;
  box-shadow: 0 0 6px rgba(0,0,0,0.4);
}

/* Botón volver */
#btnVolver {
  margin-top: 20px;
  background: linear-gradient(45deg, #080808, #ff6b6b); /* amarillo → rojo */
  border: none;
  border-radius: 30px;
  padding: 10px 25px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #fcfbfb;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 5px 12px rgba(0,0,0,0.3);
}

#btnVolver:hover {
  background: linear-gradient(45deg, #ff6b6b, #161616);
  transform: translateY(-2px);
}
